// colors

$white: #ffffff;
$paleBlue: #eef1f8;
$grey: #75819c;
$black: #000000;
$violet: #ad44ff;
$deepViolet: #7000ff;
$green: #dcff40;
$pink: #ffc6ff;
$orange: #ffc122;
$coral: #f7af90;
$mirinda: #ff7100;
$siren: #7000ff;
$forestGreen: #6d8500;

// transition

$baseTransition: all ease-in-out 0.15s;
