.blog {
  padding: 120px 0;

  @include mobile {
    padding: 80px 0;
  }

  &__title {
    margin: 0 0 40px;
    text-align: center;
  }

  &__slider {
    margin-right: -137px;

    @media screen and (min-width: 1440.3px) {
      margin: 0;
    }

    @include desktop {
      margin-right: -36px;
    }

    @include mobile {
      margin-right: -10px;
    }
  }

  &__slide {
    padding: 0 0 30px;
    overflow: hidden;
    border-radius: 40px;
    background-color: $white;

    &-image {
      margin: 0 0 20px;

      & img {
        max-width: 100%;
        height: 169px;
        object-fit: cover;
      }
    }

    &-text {
      min-height: 138px;
      padding: 0 20px;
      margin: 0;
    }

    &-tags {
      display: flex;
      gap: 4px;
      padding: 0 20px;
    }

    &-tag {
      padding: 9px 16px;
      font-family: 'Fragment Mono';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.42px;
      text-transform: uppercase;

      &_basic {
        border-radius: 40px;
        background-color: $green;
      }
    }
  }
}
